<div class="panel words__wrapper">
    <div class="words__title">Most used words:</div>
    <ul class="words__list">
        {% for word, count in words %}
            {% include 'words/item.html.twig' %}
        {% endfor %}
    </ul>
</div>
