/**
 * This file is part of albelli test assignment.
 */

section[role="form"]
  background-color: $containerGrayBackgroundColor
  border:
    width: 1px 0
    style: solid
    color: $containerGrayBorderColor
  margin: 0 0 $spaceBetweenContainers 0
  padding: $containerPadding 0

.form
  margin-bottom: 0
  background-color: $containerGrayBackgroundColor
  position: relative
  &__title
    font:
      weight: bold
      size: 22px
    margin-bottom: $containerPadding
  &__wrapper
    display: flex
    flex-direction: row
    @include respond-to(mobile-tablet)
      flex-direction: column
  &__elements-wrapper
    flex-basis: 75%
    @include respond-to(mobile-tablet)
      flex-basis: 100%
  &__button-wrapper
    flex-basis: 25%
    padding-left: $containerPadding
    @include respond-to(mobile-tablet)
      padding-left: 0
  &__button-submit
    width: 100%
    @include respond-to(mobile-tablet)
      margin-bottom: 0
    @include respond-to(tablet)
      width: auto
  &__file-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    @include respond-to(mobile-tablet)
      margin-bottom: $containerPadding
    @include respond-to(mobile)
      flex-direction: column
  &__file-input
    display: none
  &__file-path-to
    display: none
    @include respond-to(mobile)
      margin-bottom: $containerPadding
  &__button-upload-image
    margin-bottom: 0
    @include respond-to(mobile)
      width: 100%
  &__error
    color: $colorRed
    margin-top: 10px
    display: none
  &__spinner-wrapper
    position: absolute
    display: none
    align-items: center
    justify-content: center
    left: 0
    top: 0
    right: 0
    bottom: 0
    background-color: #efefef
    opacity: .7


