/**
 * This file is part of albelli test assignment.
 */

.post
  &__wrapper-title
    position: relative
    margin-bottom: 15px
  &__date
    position: absolute
    right: 0
    top: 0
  &__title
    font:
      weight: bold
      size: 18px
    padding-right: 70px
  &__content-wrapper
    display: flex
    flex-direction: row
  &__image
    min-width: 300px
    padding-right: 20px
    @include respond-to(mobile)
      min-width: 0
      flex-basis: 40%
  &__body
    flex-basis: 60%
    line-height: 20px