/**
 * This file is part of albelli test assignment.
 */

.words
  float: right
  @include respond-to(desktop)
    padding-left: 0
  &__wrapper
    @include respond-to(mobile-tablet)
      display: flex
  &__title
    display: inline-block
    white-space: nowrap
    padding-right: 5px
    font:
      size: 16px
      weight: bold
    @include respond-to(desktop)
      display: block
      margin-bottom: 10px
      white-space: normal
      padding-right: 0
  &__list
    margin-left: 0
    display: inline-block
    @include respond-to(desktop)
      padding-left: 25px
      list-style: disc
      display: block
  &__list-element
    @include respond-to(mobile-tablet)
      display: inline-block
      &:after
        content: ","
      &:last-child:after
        content: ""
