<div class="small-12 columns">
    <div class="panel form">
        <div class="form__title">
            New blog post
        </div>
        <form class="form form__wrapper" method="post" enctype="multipart/form-data" action="/post">
            <div class="form__elements-wrapper">
                <div>
                    <input type="text" name="title" id="title" placeholder="My post title" class="ccc fff">
                </div>
                <div>
                    <textarea placeholder="My post title" name="body" id="body"></textarea>
                </div>
                <div>
                    <input type="text" name="email" id="email" placeholder="Email address">
                </div>
                <div class="form__file-wrapper">
                    <span class="form__file-path-to"><span class="form__file-name"></span> <a href="#" class="form__file-remove">Remove</a></span>
                    <input type="file" name="file" class="form__file-input" accept="image/jpeg,image/png">
                    <button class="button tertiary extra-small form__button-upload-image" name="file-button" type="button">Upload image</button>
                </div>
            </div>
            <div class="form__button-wrapper">
                <button class="button form__button-submit" type="submit" name="submit">Save post <i class="icon arrow-right"></i></button>
                <div class="form__error error-title-empty">The Title is missing</div>
                <div class="form__error error-email-empty">The Email address is missing</div>
                <div class="form__error error-email-email">The Email address is incorrect</div>
                <div class="form__error error-body-file">Both the content and the Image fields are empty</div>
                <div class="form__error error-403">You have no rights to add a post here</div>
                <div class="form__error error-400">Server validation error, please check your input</div>
                <div class="form__error error-unknown">Unknown server error</div>
            </div>
        </form>
        <div class="form__spinner-wrapper">
            <div class="ball-scale-ripple"><div></div></div>
        </div>
    </div>
</div>