<div class="panel post">
    <div class="content post__wrapper">
        <div class="post__wrapper-title">
            <div class="post__title">{{ post.title }}</div>
            <div class="post__date">{{ post.created_at|date('d/m/Y') }}</div>
        </div>
        <div class="post__content-wrapper">
        {% if post.image %}
        <div class="post__image">
            <img src="{{ post.image }}"{% if post.image2x %} srcset="{{ post.image }} 1x, {{ post.image2x }} 2x"{% endif %} alt="{{ post.title|e }}">
        </div>
        {% endif %}
        <div class="post__body">{{ post.body }}</div>
        </div>
    </div>
</div>