{% block head %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>albelli: Blog test</title>
<link rel="stylesheet" href="//cdn-files.cloud/arc/css/arc.discovery.min.css" />
<link rel="stylesheet" href="/css/app.css" />
<link rel="icon" href="https://cdn-files.cloud/wp-content/themes/albelli/img/app/apple-touch-icon.png" sizes="32x32" />
<link rel="icon" href="https://cdn-files.cloud/wp-content/themes/albelli/img/app/apple-touch-icon.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="https://cdn-files.cloud/wp-content/themes/albelli/img/app/apple-touch-icon.png" />
<meta name="msapplication-TileImage" content="https://cdn-files.cloud/wp-content/themes/albelli/img/app/apple-touch-icon.png" />
<link href="https://cdn-files.cloud/wp-content/themes/albelli/favicon.ico" type="image/x-icon" rel="shortcut icon" />
<meta name="csrf-token" content="{{ csrf }}">
{% endblock %}