{% extends 'layout.html.twig' %}
{% block content %}
<div class="content-wrapper">
    <div class="row large-centered">
        <div class="small-12 columns"><h3>{{ error }}</h3></div>
    </div>
</div>
{% endblock %}