{% extends 'layout.html.twig' %}

{% block content %}
<section role="form" class="form-wrapper">
    <div class="row">
        {% include 'posts/form.html.twig' %}
    </div>
</section>
<section role="content" class="content-wrapper">
    <div class="row content">
        <div class="words words_float-right large-3 small-12 columns">{% include 'words/list.html.twig' %}</div>
        <div role="blog-posts" class="posts large-9 small-12 columns">{% include 'posts/list.html.twig' %}</div>
    </div>
</section>
{% endblock %}