<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/head.twig.html' %}
</head>
<body>
    {% include 'partials/header.twig.html' %}
    {% block content %}{% endblock %}
    {% block footer %}{% include 'partials/footer.twig.html' %}{% endblock %}
</body>
</html>